# 17 - Number Letter Counts

## Problem Statement

If the numbers $1$ to $5$ are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4 = 19$ letters used in total.

If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used? 

<p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.</p>

## Solution

We first create a mapping counting the number of letters in the words that are often repeated. 

Then we simply add each word times the number of times it appears:
- 'one thousand' has 11 letters and is seen once.
- 'hundred' has 7 letters and is found in 900 numbers (100 to 999). 
- 'and' has 3 letters and is seen after each hunder except 9 (100, 200, etc)
- the numbers from one to 9 are found before each hundred word and at the end of 90 words each.
- the numbers 11 to 19 are found 10 times each.
- the words twenty, thirty, etc are found 100 times each.

In [1]:
mapping = {
    1: 'One',
    2: 'Two',
    3: 'Three',
    4: 'Four',
    5: 'Five',
    6: 'Six',
    7: 'Seven',
    8: 'Eight',
    9: 'Nine',
    10: 'Ten',
    11: 'Eleven',
    12: 'Twelve',
    13: 'Thirteen',
    14: 'Fourteen',
    15: 'Fifteen',
    16: 'Sixteen',
    17: 'Seventeen',
    18: 'Eighteen',
    19: 'Nineteen',
    20: 'Twenty',
    30: 'Thirty',
    40: 'Forty',
    50: 'Fifty',
    60: 'Sixty',
    70: 'Seventy',
    80: 'Eighty',
    90: 'Ninety',
}

counter = {}
for key, val in mapping.items():
    counter[key] = len(val)

count = 11 # 1000
count += 9 * 99 * 3 # And
count += 900 * 7 # Hundred
count += (100 + 90) * sum(counter[i] for i in range(1, 10)) # 1 - 9 before hundred and at the end
count += 10 * sum(counter[i] for i in range(10, 20)) # 11 - 19
count += 100 * sum(counter[i * 10] for i in range(2, 10)) # 10, 20, ..., 90

count

21124