# 79 - Passcode Derivation

## Problem Statement

A common security method used for online banking is to ask the user for three random characters from a passcode. For example, if the passcode was 531278, they may ask for the 2nd, 3rd, and 5th characters; the expected reply would be: 317.

<p>The text file, <a href="inputs/0079_keylog.txt">keylog.txt</a>, contains fifty successful login attempts.</p>

Given that the three characters are always asked for in order, analyse the file so as to determine the shortest possible secret passcode of unknown length.


## Solution

This one can be solved by hand. First we remove the duplicate numbers. Then we check if any digit is never preceded by another digit and remove it. Then we keep repeating this process. We will first have 7, then 3, then 1, etc. Here the answer does not contain any repeated digit so we can find the answer this way.

In [1]:
numbers = [
    319, 680, 180, 690, 129, 620, 762, 689, 762, 318, 368, 710, 720, 710, 629, 168,
    160, 689, 716, 731, 736, 729, 316, 729, 729, 710, 769, 290, 719, 680, 318, 389,
    162, 289, 162, 718, 729, 319, 790, 680, 890, 362, 319, 760, 316, 729, 380, 319,
    728, 716
]

numbers = set(numbers)
numbers

{129,
 160,
 162,
 168,
 180,
 289,
 290,
 316,
 318,
 319,
 362,
 368,
 380,
 389,
 620,
 629,
 680,
 689,
 690,
 710,
 716,
 718,
 719,
 720,
 728,
 729,
 731,
 736,
 760,
 762,
 769,
 790,
 890}

In [2]:
73162890

73162890